
   <%= form_for @trade ,:url => { :controller => :buy_trade, :action => :create } do |f| %>

    <%= f.label :day, "取引日" %><br>
    <%= f.date_select :day, class: 'form-control', use_month_numbers: true  %> <br><br>

    <div class= "" ><%= f.label :quantity, "購入数" %><br>
    <%= f.number_field :quantity, class: "form-control", step: "0.01",:placeholder => "半角で入力" %></div><br>

    <div class=""><%= f.label :price, "購入金額" %><br>
    <%= f.number_field :price, class: "form-control",step: "0.01",:placeholder => "半角で入力" %></div><br>

    <div class="">
    <%= f.label :memo, "購入時メモ" %><br>
    <%= f.text_area :memo, size: "20x10", class: "form-control",:placeholder => "<例> 中国の暗号資産規制が厳しくなったため、一時撤退" %><br><br>

    </div>


   <%= f.submit :"購入登録", class: "btn-primary" %>
   
   <% end %>
